-i https://pypi.python.org/simple/
alembic==1.13.2
bleach==6.1.0
blinker==1.8.2
click==8.1.7
cssmin==0.2.0
email-validator==1.1.2
flask==3.0.3
flask-assets==2.1.0
flask-caching==2.3.0
flask-CKEditor==1.0.0
flask-DebugToolbar==0.15.1
flask-Dropzone==2.0.0
flask-Mail==0.9.1
flask-Migrate==2.5.2
flask-SQLAlchemy==3.1.1
flask-WTF==1.2.1
greenlet==3.0.3

idna==3.7 ##
iniconfig==2.0.0 ##
itsdangerous==2.2.0 
Jinja2==3.1.4
Mako==1.1.4 
MarkupSafe==2.1.5 
packaging==24.1 ##
pluggy==1.5.0 ##
pytest==8.3.2
python-dateutil==2.8.1 
python-dotenv==0.10.3
python-editor==1.0.4
python_http_client==3.3.2
redis==3.2.1
rjsmin==1.2.2
sendgrid==6.0.5
setuptools==71.1.0 
six==1.16.0
SQLAlchemy==2.0.31
typing_extensions==4.12.2 ##
webassets==2.0
webencodings==0.5.1 ##
Werkzeug==3.0.3
WTForms==2.3.3
